.grid {
  padding-top:50px;
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:10px; /* Allow horizontal scrolling for overflow */
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width:100%; /* Set a fixed width for larger cards */
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content within the card */
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .person-photo {
    width: 100%;
    height: 450px; /* Increased image height */
    border-radius: 0.5rem;
    object-fit: cover;
    display: block;
    margin: 0 auto; /* Center the image within the card */
  }
  
  .person-name {
    font-size: 1.5rem; /* Slightly larger font size */
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: center; /* Center the name text */
  }
  
  .mb-1 {
    margin-bottom: 0.5rem;
    text-align: center; /* Center the review and location texts */
  }
  
  .know-more {
    display: inline-block;
    padding: 10px 14px;
    background-color: #38b2ac;
    color: white;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 10px auto 0; /* Center the button */
    text-align: center;
  }
  
  .know-more:hover {
    background-color: #319795;
  }
  